# FetchMaker

In [2]:
# Import libraries
import numpy as np
import pandas as pd

# Import data
dogs = pd.read_csv('dog_data.csv')

# Subset to just whippets, terriers, and pitbulls
dogs_wtp = dogs[dogs.breed.isin(['whippet', 'terrier', 'pitbull'])]

# Subset to just poodles and shihtzus
dogs_ps = dogs[dogs.breed.isin(['poodle', 'shihtzu'])]

In [3]:
# Inspecting first five rows
dogs.head()

,is_rescue,weight,tail_length,age,color,likes_children,is_hypoallergenic,name,breed
0,0,6,2.25,2,black,1,0,Huey,chihuahua
1,0,4,5.36,4,black,0,0,Cherish,chihuahua
2,0,7,3.63,3,black,0,1,Becka,chihuahua
3,0,5,0.19,2,black,0,0,Addie,chihuahua
4,0,5,0.37,1,black,1,1,Beverlee,chihuahua

store **is_rescue** values for whippet

In [4]:
whippet_rescue = dogs.is_rescue[dogs['breed'] == 'whippet']

How many whippets are **rescues**

In [5]:
num_whippet_rescues = np.sum(whippet_rescue == 1)
print(num_whippet_rescues)

6

Number of whippets in this sample of data in total

In [6]:
num_whippets = len(whippet_rescue)
print(num_whippets)

100

## Binomial Test

In [7]:
from scipy.stats import binom_test
pval = binom_test(0.6,100,p=0.8)
print(pval)

1.2676506002282013e-70

pval is less than 0.05. So there are more or less than 8% of whippers that are rescues

## Assign weight of whippets, terriers and pitbulls separate variables

In [10]:
wt_whippets = dogs.weight[dogs.breed == 'whippet']
wt_terriers = dogs.weight[dogs.breed == 'terrier']
wt_pitbulls = dogs.weight[dogs.breed == 'pitbull']

## Anova test

In [12]:
from scipy.stats import f_oneway
fstat,pval = f_oneway(wt_whippets,wt_terriers,wt_pitbulls)
print(pval)

3.276415588274815e-17

Pval above is very significant causing us to drop the null hypothesis, We are required to perform a **Tukey Range Test** to determine which three dog weight pair are significantly different

## Tukey's Range Test

In [15]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey_results = pairwise_tukeyhsd(dogs_wtp.weight,dogs_wtp.breed, 0.05)
print(tukey_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
 group1  group2 meandiff p-adj   lower  upper  reject
-----------------------------------------------------
pitbull terrier   -13.24  0.001 -16.728 -9.752   True
pitbull whippet    -3.34 0.0639  -6.828  0.148  False
terrier whippet      9.9  0.001   6.412 13.388   True
-----------------------------------------------------

## Contingency table for 'poodles' and 'shihtzu'

In [18]:
Xtab = pd.crosstab(dogs_ps.breed,dogs_ps.color)
print(Xtab)

color    black  brown  gold  grey  white
breed
poodle      17     13     8    52     10
shihtzu     10     36     6    41      7

## Chi-Square test

In [20]:
from scipy.stats import chi2_contingency
chi2,pval,dof,expected = chi2_contingency(Xtab)
print(pval)

0.005302408293244597